adf/pipelines/ProcessPersonRecords.json
{"name":"ProcessPersonRecords","properties":{"activities":[{"name":"LookupInputFile","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true}},"dataset":{"referenceName":"InputDataset","type":"DatasetReference","parameters":{"fileName":"@pipeline().parameters.inputFileName"}},"firstRowOnly":false}},{"name":"ForEachRecord","type":"ForEach","dependsOn":[{"activity":"LookupInputFile","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@if(equals(pipeline().parameters.inputFileFormat, 'json'), activity('LookupInputFile').output.value, split(activity('LookupInputFile').output.value, '\n'))","type":"Expression"},"isSequential":true,"activities":[{"name":"PostToApi","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.00:10:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@pipeline().parameters.apiUrl","type":"Expression"},"method":"POST","body":{"value":"@json(item())","type":"Expression"}}},{"name":"AppendToAuditFile","type":"WebActivity","dependsOn":[{"activity":"PostToApi","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.00:10:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat(pipeline().parameters.storageUri, '/audit/', pipeline().RunId, '/audit.jsonl?comp=appendblock&position=0')","type":"Expression"},"method":"PATCH","body":{"value":"@json(concat('{\"fullPayload\":', string(item()), ',\"timestamp\":\"', utcNow(), '\",\"pipelineRunId\":\"', pipeline().RunId, '\",\"activityRunId\":\"', activity('PostToApi').ActivityRunId, '\",\"httpStatusCode\":', activity('PostToApi').output.StatusCode, ',\"operation\":\"Unknown\"}'))","type":"Expression"},"headers":[{"name":"x-ms-version","value":"2021-06-08"}],"authentication":{"type":"MSI","resource":"https://storage.azure.com/"}}}]}}],"parameters":{"inputFileName":{"type":"string"},"inputFileFormat":{"type":"string","defaultValue":"json"},"apiUrl":{"type":"string","defaultValue":"https://httpbin.org/post"},"storageUri":{"type":"string"}},"annotations":[]}}
