adf/factory.json
{
    "$schema": "https://schema.management.azure.com/schemas/2018-05-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string"
        },
        "storageUri": {
            "type": "string"
        },
        "apiUrl": {
            "type": "string",
            "defaultValue": "https://httpbin.org/post"
        }
    },
    "resources": [
        {
            "type": "Microsoft.DataFactory/factories/linkedservices",
            "name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('storageUri')]",
                    "credential": {
                        "referenceName": "default",
                        "type": "ManagedIdentity"
                    }
                }
            }
        },
        {
            "type": "Microsoft.DataFactory/factories/datasets",
            "name": "[concat(parameters('factoryName'), '/InputDataset')]",
            "apiVersion": "2018-06-01",
            "dependsOn": [
                "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/AzureDataLakeStorage')]"
            ],
            "properties": {
                "description": "Source dataset — reads student records from the 'inputs' container in ADLS Gen2.",
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "fileName": {
                        "type": "string",
                        "defaultValue": "people_array.json"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().fileName",
                            "type": "Expression"
                        },
                        "fileSystem": "inputs"
                    }
                },
                "schema": {}
            }
        },
        {
            "type": "Microsoft.DataFactory/factories/datasets",
            "name": "[concat(parameters('factoryName'), '/DummySourceDataset')]",
            "apiVersion": "2018-06-01",
            "dependsOn": [
                "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/AzureDataLakeStorage')]"
            ],
            "properties": {
                "description": "Dummy source dataset required by the Copy activity. Points to the inputs container but is not actually read — the real data comes from the ApiRequestLog variable via additionalColumns.",
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileSystem": "inputs"
                    }
                },
                "schema": {}
            }
        },
        {
            "type": "Microsoft.DataFactory/factories/datasets",
            "name": "[concat(parameters('factoryName'), '/OutputDataset')]",
            "apiVersion": "2018-06-01",
            "dependsOn": [
                "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/AzureDataLakeStorage')]"
            ],
            "properties": {
                "description": "Sink dataset — writes the consolidated request log JSON file to the 'audit' container in ADLS Gen2.",
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "fileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().fileName",
                            "type": "Expression"
                        },
                        "fileSystem": "audit"
                    }
                },
                "schema": {}
            }
        },
        {
            "type": "Microsoft.DataFactory/factories/pipelines",
            "name": "[concat(parameters('factoryName'), '/PL_API_Log')]",
            "apiVersion": "2018-06-01",
            "dependsOn": [
                "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/InputDataset')]",
                "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/DummySourceDataset')]",
                "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/OutputDataset')]"
            ],
            "properties": {
                "description": "Reads student records from ADLS Gen2, POSTs each record to a target API, captures the exact request payload in memory, and writes a consolidated JSON log of all sent requests to the audit container.",
                "activities": [
                    {
                        "name": "Web_Get_Token",
                        "description": "Simulates a bearer token fetch. In this lab, httpbin.org echoes the request body so we extract a fake token from the response.",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "POST",
                            "url": "https://httpbin.org/post",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "value": "{\"token\": \"lab-bearer-token\"}",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SetBearerToken",
                        "description": "Stores the token returned by the auth endpoint into a pipeline variable.",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Web_Get_Token",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "BearerToken",
                            "value": {
                                "value": "@activity('Web_Get_Token').output.json.token",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Lookup_Input_File",
                        "description": "Reads all student records from the source file in the inputs container.",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "SetBearerToken",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true
                                }
                            },
                            "dataset": {
                                "referenceName": "InputDataset",
                                "type": "DatasetReference",
                                "parameters": {
                                    "fileName": "[parameters('inputFileName')]"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach_Request",
                        "description": "Iterates over each student record. For each record: (1) POSTs it to the API with the bearer token; (2) appends the exact request body to the ApiRequestLog variable.",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Lookup_Input_File",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup_Input_File').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Call_API",
                                    "type": "WebActivity",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "method": "POST",
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "Authorization": {
                                                "value": "Bearer @{variables('BearerToken')}",
                                                "type": "Expression"
                                            }
                                        },
                                        "url": {
                                            "value": "@pipeline().parameters.apiUrl",
                                            "type": "Expression"
                                        },
                                        "body": {
                                            "value": "@string(item())",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "Append_Request_To_Log_Variable",
                                    "description": "Appends the exact JSON string of the current record to the ApiRequestLog array. This runs regardless of whether the API call succeeded or failed.",
                                    "type": "AppendVariable",
                                    "dependsOn": [
                                        {
                                            "activity": "Call_API",
                                            "dependencyConditions": [
                                                "Completed"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "variableName": "ApiRequestLog",
                                        "value": {
                                            "value": "@string(item())",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "Write_Request_Log_File",
                        "description": "After the loop completes, writes a single JSON file to the audit container containing: all sent request payloads (allSentRequests), the pipeline run ID (runId), and the UTC timestamp (timestampUtc).",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "ForEach_Request",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "additionalColumns": [
                                    {
                                        "name": "runId",
                                        "value": {
                                            "value": "@pipeline().RunId",
                                            "type": "Expression"
                                        }
                                    },
                                    {
                                        "name": "timestampUtc",
                                        "value": {
                                            "value": "@utcNow()",
                                            "type": "Expression"
                                        }
                                    },
                                    {
                                        "name": "allSentRequests",
                                        "value": {
                                            "value": "@concat('[', join(variables('ApiRequestLog'), ','), ']')",
                                            "type": "Expression"
                                        }
                                    }
                                ]
                            },
                            "sink": {
                                "type": "JsonSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "JsonWriteSettings",
                                    "filePattern": "setOfObjects"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "DummySourceDataset",
                                "type": "DatasetReference"
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "OutputDataset",
                                "type": "DatasetReference",
                                "parameters": {
                                    "fileName": {
                                        "value": "@concat('request_log_', pipeline().RunId, '.json')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    }
                ],
                "variables": {
                    "BearerToken": {
                        "type": "String"
                    },
                    "ApiRequestLog": {
                        "type": "Array",
                        "defaultValue": []
                    }
                },
                "parameters": {
                    "inputFileName": {
                        "type": "string",
                        "defaultValue": "people_array.json"
                    },
                    "apiUrl": {
                        "type": "string",
                        "defaultValue": "[parameters('apiUrl')]"
                    }
                },
                "annotations": []
            }
        }
    ]
}
