adf/factory.json
{
    "$schema": "https://schema.management.azure.com/schemas/2018-05-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string"
        },
        "storageUri": {
            "type": "string"
        },
        "apiUrl": {
            "type": "string"
        }
    },
    "resources": [
        {
            "type": "Microsoft.DataFactory/factories/linkedservices",
            "name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('storageUri')]",
                    "credential": {
                        "referenceName": "default",
                        "type": "ManagedIdentity"
                    }
                }
            }
        },
        {
            "type": "Microsoft.DataFactory/factories/datasets",
            "name": "[concat(parameters('factoryName'), '/InputDataset')]",
            "apiVersion": "2018-06-01",
            "dependsOn": [
                "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/AzureDataLakeStorage')]"
            ],
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "containerName": {
                        "type": "string",
                        "defaultValue": "inputs"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().fileName",
                            "type": "Expression"
                        },
                        "fileSystem": {
                            "value": "@dataset().containerName",
                            "type": "Expression"
                        }
                    }
                },
                "schema": {}
            }
        },
        {
            "type": "Microsoft.DataFactory/factories/pipelines",
            "name": "[concat(parameters('factoryName'), '/ProcessPersonRecords')]",
            "apiVersion": "2018-06-01",
            "dependsOn": [
                "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/InputDataset')]"
            ],
            "properties": {
                "description": "Reads person records from ADLS Gen2, POSTs each record to a target API, and appends a JSONL audit line capturing the CRUD operation, HTTP status, and run correlation IDs.",
                "activities": [
                    {
                        "name": "LookupInputFile",
                        "description": "Read all records from the input file into memory.",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": false
                                }
                            },
                            "dataset": {
                                "referenceName": "InputDataset",
                                "type": "DatasetReference",
                                "parameters": {
                                    "fileName": "@pipeline().parameters.inputFileName"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEachRecord",
                        "description": "Process each person record sequentially. Sequential execution (isSequential=true) is required to prevent concurrent Append Blob write corruption on the single audit file.",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "LookupInputFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('LookupInputFile').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "PostToApi",
                                    "description": "POST the person record to the target API. The record must include an 'operation' field (Create/Update/Delete) which is passed through to the API and captured in the audit log.",
                                    "type": "WebActivity",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.00:10:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "url": {
                                            "value": "@pipeline().parameters.apiUrl",
                                            "type": "Expression"
                                        },
                                        "method": "POST",
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "body": {
                                            "value": "@string(item())",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "AppendToAuditFile",
                                    "description": "Append one JSONL audit line to the single audit file for this run. The 'operation' field is read directly from the input record (item().operation). If the field is absent, it falls back to 'Unknown'. The audit file path is: audit/<pipelineRunId>/audit.jsonl",
                                    "type": "WebActivity",
                                    "dependsOn": [
                                        {
                                            "activity": "PostToApi",
                                            "dependencyConditions": [
                                                "Succeeded",
                                                "Failed"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.00:10:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "url": {
                                            "value": "@concat(pipeline().parameters.storageUri, 'audit/', pipeline().RunId, '/audit.jsonl?comp=appendblock')",
                                            "type": "Expression"
                                        },
                                        "method": "PUT",
                                        "headers": {
                                            "x-ms-version": "2021-06-08",
                                            "x-ms-blob-type": "AppendBlob",
                                            "Content-Type": "application/octet-stream"
                                        },
                                        "body": {
                                            "value": "@concat(string(createObject('personId', item().personId, 'operation', if(contains(item(), 'operation'), item().operation, 'Unknown'), 'httpStatusCode', activity('PostToApi').output.statusCode, 'apiResponseSnippet', substring(string(activity('PostToApi').output), 0, min(200, length(string(activity('PostToApi').output)))), 'timestamp', utcNow(), 'pipelineRunId', pipeline().RunId, 'activityRunId', activity('PostToApi').ActivityRunId)), '\n')",
                                            "type": "Expression"
                                        },
                                        "authentication": {
                                            "type": "MSI",
                                            "resource": "https://storage.azure.com/"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                ],
                "parameters": {
                    "inputFileName": {
                        "type": "string",
                        "defaultValue": "people_array.json"
                    },
                    "inputFileFormat": {
                        "type": "string",
                        "defaultValue": "json"
                    },
                    "apiUrl": {
                        "type": "string",
                        "defaultValue": "[parameters('apiUrl')]"
                    },
                    "storageUri": {
                        "type": "string",
                        "defaultValue": "[parameters('storageUri')]"
                    }
                },
                "annotations": []
            }
        }
    ]
}
